* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.container{
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;

}


.SearchBox {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  flex-direction: column;
  gap: 30px;
  width: 100%;



  &-h1 {
    font-weight: 400;
    @media (max-width: 768px) {
      &{
        font-size: 18px;
      }
    }
  }

  &-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr;
    padding: 0rem 2rem;
    gap: 15px;
    @media (max-width: 768px) {
      &{
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    outline: none;
    font-size: 16px;
  }

  &-button {
    background: rgb(255, 136, 0);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    @media (max-width: 768px) {
      &{
        padding: .5rem;
      }
    }
  }
}

.Image{
  border: 1px solid rgb(190, 187, 187);
  max-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 6px;
  overflow: hidden;
  &-img{
    width: 17.5rem;
    height: 11.25rem;
    object-fit: cover;
  }
  &-stats{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-backgroundButton{
    background: rgb(236, 235, 235);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  &-button{
    background: rgb(255, 99, 99);
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    padding: .5rem 0rem;
    cursor: pointer;
  }
}

.result-container{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 1rem;
}

.buttons-container{
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: 1rem 0rem;
}
.button-page{
  background-color: darkblue;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
}